[Unit]
Description=Rotappo Analytics Service
After=network.target

[Service]
ExecStart=%h/.cargo/bin/rotappo analytics-service
Restart=on-failure

[Install]
WantedBy=multi-user.target
